<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="2fe61ae3-c893-45f1-83e9-87aa6473f316" value="Data Source=ISTTURDEV25\SQLEXPRESS;Initial Catalog=Northwind; Connect Timeout=120;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>